.PostButton{
    display: inline-flex;
}

textarea{
    position: relative;
    width: 95%;
    height: auto;
    text-align: justify;
    border-radius: 5px;
    left: 2%;
    margin-top: 1rem;
    border: none;
    background: #00000080;
    color: white;
}

.TextPostHolder{
    position: absolute;
    width: 100%;
    top: 50%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    display: block;
    background: turquoise;
}